construct `Measurement` type from string

We serialize this type to / from JSON strings as part of the API, but when we represent the type in a config file (like the TOML for `propolis-standalone`) we don't want to use JSON. Instead we want something like a simple hex string. This sting needs to identify the digest algorithm as well (like the JSON) which we can prepend to the hex string like: `sha-256;{hex}` per [RFC 6920 section 7](https://datatracker.ietf.org/doc/html/rfc6920#section-7). The identifiers should come from the [IANA Named Information Hash Algorithm Registry](https://www.iana.org/assignments/named-information/named-information.xhtml).

ref: https://github.com/oxidecomputer/propolis/pull/1076/changes#r2925603951